@charset "utf-8";
.swiper-container {
	display: inline-block;
    width: 500px;
    height: 280px;
    vertical-align: middle;
}
.recipes-sideshow{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}
.recipes-sideshow{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.recipes-sideshow-essay{
	display: none;
	padding: 10px 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 150px;
	color: #ffffff;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}